@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: burlywood;
}
h2 {
  margin-bottom: 1rem;
}
p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}
.paragraph1 {
  margin: 2rem 1rem;
}
.sidenav{
  display: flex;
  place-content: space-between;

}
.sidenav .nav-title{
  margin: 2rem 0;
}

html {
  height: 100%;
}
h1{
  text-transform: uppercase;
  font-size: 1rem;
}
.paragraph2 {
  background: burlywood;
  margin: 2rem 0 2rem 1rem;
}

.sidenav ul {
  display: flex;
  flex-direction: row;
  padding: 2rem 0.5rem;
  background: burlywood;
}

.sidenav a {
  padding: 1rem 0.5rem;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.sidenav li {
  list-style-type: none;
}

.pragraph2 p {
  margin: 1rem;
  background: burlywood;
}
.social-media img{
  width: 35px;
}