* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.paragraph1{
  background: burlywood;
  
html {
  height: 100%;
}
.pragraph2{
  background: burlywood;
}
.sidenav { 
  display: flex;
justify-content: flex-start;
padding: 1rem;
 background: burlywood;
  }
  .sidenav a{
    padding: 1rem;
    text-decoration: none;
    color: black;
   
  }
  .img{
    border: burlywood;

  }
  .sidenav li{
    list-style-type: none;
  }
