 *{
 
   margin: none;
   padding: none;
 }
img{
  width: 99%;
  height: 1570px;

  padding: 1rem;
}
p{
  font-family: monospace;
  font-size: large;
  margin: 1rem;

}
h2{
  font-family: monospace;
  font-size: large;
  margin: 1rem;
  text-align: center;
}
h1{
   font-family: monospace;
  font-size: large;
  text-align: center; 
  margin: 2rem;
}
.container{
word-spacing: 15px;
text-decoration: none;
}
a {
      text-decoration: none;
    font-size: large;
    font-family: monospace;
     color: black;
    padding: 10px 20px;
    background-color: burlywood;

}
p{
  text-align: center;
}
h3{
    text-decoration: none;
    font-size: large;
    font-family: monospace;
     color: black;
}

 div {
  width: 1650px;
  border: 15px solid black;
  padding: 50px;
  margin: 2rem;
}
#paragraph{
  font-family: monospace;
  font-size: larger;
  text-align: center;
  padding: 0.5px;
}

h4{
  font-family: monospace;
  font-size: large;
    padding: 10px;
  margin: 1px;
  text-align: center;
}

h3{
  font-family: monospace;
  font-size: large;
    padding: 10px;
  margin: 1px;
  text-align: center;
}
h5{
  font-family: monospace;
  font-size: large;
    padding: 10px;
  margin: 1px;
  text-align: center;
}